@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@keyframes nameAnimation {
  from {
    opacity: 0;
  }
}
@keyframes mainA {
  from {
    width: 0;
  }
}
@keyframes upDown {
  to {
    transform: translateY(28px);
  }
}
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #daf1de;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  font-weight: bold;
  position: fixed;
  z-index: 99;
  width: 100vw;
  top: 0;
  height: 10vh;
  background-color: #daf1de;
  nav {
    width: 100%;
    height: 100%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
      height: 100%;
      li {
        display: inline-block;
        flex: 1;
        a {
          color: #85d4be;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-bottom: medium dashed #96dfd8;
          transition: 0.28s;
          cursor: pointer;
        }
        a:hover {
          color: black;
          background-color: #96dfd8;
        }
        a:active {
          font-weight: bolder;
        }
      }
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .animation {
      display: flex;
      h1 {
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        width: 511px;
        animation: mainA 3s;
        white-space: nowrap;
        overflow: hidden;
        span {
          opacity: 1;
          animation: nameAnimation 2.8s;
          animation-delay: 3s;
        }
      }
    }
    i {
      font-size: 28px;
      color: #85d4be;
      position: relative;
      top: 210px;
      z-index: -1;
      animation: upDown 0.75s infinite alternate;
      animation-delay: 4s;
    }
  }
  article {
    box-shadow: 2px -2px 5px 0px #aee6cb;
    width: 90vw;
    margin-bottom: 180px;
    padding: 28px;
  }
  .aboueMe {
    p {
      text-align: justify;
      line-height: 24px;
      margin: 28px;
    }
    .dlBox {
      display: flex;
      justify-content: space-around;
      dt {
        font-weight: bold;
      }
    }
    ul {
      background-color: #d6e9aa;
      border-radius: 28px;
      padding: 28px;
      margin: 28px;
      list-style: none;
      display: flex;
      justify-content: space-around;
      font-weight: bold;
      cursor: pointer;
      // width: 1270px;
      // height: 79px;
    }
  }
  .projects {
    section {
      background-color: #d6e9aa;
      margin: 28px;
      padding: 28px;
      .FirstLine {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .fa-angle-up {
          display: none;
        }
      }
      .desc {
        display: none;
        text-decoration: none;
        .imgBox {
          float: left;
          display: flex;
          margin-right: 28px;
          margin-bottom: 28px;
          a {
            margin-right: 14px;
            width: 523px;
            height: 280px;
            background-size: 100%;
            background-position: center;
            transition: 0.28s;
            display: flex;
            justify-content: center;
            &:hover {
              background-size: 114%;
            }
          }
          .smallImgBox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            div {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 4px;
              border: 3px solid transparent;
              transition: 0.14s;
              img {
                display: block;
                height: 120px;
                overflow: hidden;
                cursor: pointer;
              }
              &:hover {
                border: 3px solid #85d4be;
              }
              &.selected {
                border: 3px solid #85d4be;
              }
            }
          }
        }
        .dlBox {
          clear: left;
          display: flex;
          justify-content: space-between;
          dl {
            padding-right: 28px;
            dt {
              font-weight: bold;
            }
            dd {
              a {
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        &.visible {
          display: block;
        }
      }
    }
    section:first-of-type {
      border-top-left-radius: 28px;
      border-top-right-radius: 28px;
    }
    section:last-of-type {
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 28px;
    }
    p {
      text-align: justify;
      line-height: 24px;
    }
  }
}
footer {
  font-size: large;
  padding: 28px;
  border-top: medium dashed #96dfd8;
  .bottomMenu {
    text-align: center;
    b {
      margin-right: 28px;
    }
  }
}
